body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
}

main {
  max-width: 50%;
  overflow: auto;
}

video {
  width: 100%;
}
